@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

.head{
    text-align: center;
    
}
.container{
    text-align: center;
/*    width: 100%;*/
}
.head{
    text-align: center;
    
}

.back_panel{
    background-color: darkslategray;
}
#bright_text{
     color: yellow;
}

.inner_panel{
    background-color:cornsilk;
}
.ename{
    text-align: center;
}
html{
    background-color:cornsilk;
}